/* Start Variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 6rem;
    --section--background: #f6f6f6;
    --transation-duration: 0.3s;
}
/* End Variables */
/* Start Global Rules */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.parent {
    background-color: #eee;
}
.container {
    max-width: 1170px;
    padding: 0px 1.5rem;
    margin: 0px auto;
}

/* End Global Rules */
/* Start Components */
.special-heading {
    color: #ebeced;
    font-size: clamp(4rem,5rem + 2vw,8rem);
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
}
.special-heading + p {
    font-size: 1.7rem;
    text-align: center;
    color: #797979;
    margin: 0;
    margin-top: -3.2rem;
}
@media (max-width: 76.7rem) {
    .special-heading + p {
        margin-top: -2rem;
    }
}
/* End Components */
/* Start Header */
.header {
    padding: 2rem;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .container .logo {
    width: 60px;
}
.links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.links .icon span {
    background-color: #333;
    margin-bottom: 0.5rem;
    height: 2px;
    transition: transform var(--transation-duration) ease-in-out;
    
}
.links .icon span:nth-child(1) {
    width: 100%;
}
.links .icon span:nth-child(2) {
    width: 60%;
    transition: var(--transation-duration);
}
.links .icon span:nth-child(3) {
    width: 100%;
}
.links .icon:hover span:nth-child(2) {
    width: 100%;
}
.header .links {
    position: relative;
}
.links ul {
    background-color: var(--section--background);
    margin: 0;
    padding: 0;
    list-style: none;
    min-width: 20rem;
    font-size: 2rem;
    position: absolute;
    right: 0;
    top: calc(100% + 10px);
    display: none;
    z-index: 1;
}
.links ul::before {
    content: '';
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent var(--section--background) transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}
.links ul li {
    padding: 1.5rem;
    transition: padding var(--transation-duration) ease-in-out;
}
.links ul li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}
.links ul li a {
    color: #333;
    text-decoration: none;
}
.links ul li:hover {
    padding-left: 2.3rem;
}
.links ul.active-menu {
    display: block;
}
.links .icon.active-menu span:nth-child(2) {
    display: none;
}
.links .icon.active-menu span:nth-child(1) {
    transform: rotate(45deg) translate(3px, 3px);
}
.links .icon.active-menu span:nth-child(3) {
    transform: rotate(-45deg) translate(3px, -3px);
 
}
/* End Header */
/* Start Landing Section */
.landing {
    background-image: url(../images/white-mountain-wallpapers-125534-237791-2005313.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: calc(100vh - 6.4rem);
    position: relative;
    
}
.landing .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
}
.landing .container .intro-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    font-size: clamp(1.5rem,1.9rem + 2vw, 3.6rem);
    font-weight: bold;
    
}
.landing .container .intro-text h1 {
    margin: 0;
}
.landing .container .intro-text .intro-text-paragraph {
    text-align: center;
    line-height: 6px;
    color: #546a75;
    font-size: 1.4rem;
}
/* End Landing Section */
/* Start Features Section */
.features--section {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section--background);
}
.features--section .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}
.features--section .container .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 5rem;
    text-align: center;
}
.features--section .container .feature i {
    color: var(--main-color);
}
.features--section .container .feature .feature__title {
    font-weight: 800;
    font-size: 2rem;
    margin: 2rem 0;
}
.features--section .container .feature .feature__text {
    color: #546a75;
    line-height: 1.6;
    font-size: 1.7rem;
}
/* End Features Section */
/* Start Services */
.services--section {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services-content {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
}
.services-content .col .service {
    display: flex;
    margin-bottom: 4rem;  
}
@media (max-width: 76.7rem) {
    .services-content .col .service {
        flex-direction: column;
        text-align: center;
    }
}
.services-content .col .service i {
    flex-basis: 6rem;
    color: var(--main-color);
    font-size: 4.5rem;
}
.services-content .col .service .text {
    flex: 1;
}
.services-content .col .service .text h3 {
    font-size: 2.3rem;
    margin: 0 0 2rem;
}
.services-content .col .service .text p {
    line-height: 1.6;
    font-size: 1.6rem;
    font-weight: 300;
    color: #333;
}
.services-content img {
   width: 26rem;
   min-height: 50vh;
   object-fit: cover;
}
.services-content .image {
    text-align: center;
    position: relative;
    
}
.services-content .image::before {
    content: '';
    background-color: var(--secondary-color);
    width: 10rem;
    min-height: calc(100% + 100px);
    position: absolute;
    top: -50px;
    right: 0;
    z-index: -1;
}
@media (max-width: 1119.9px) {
    .image-column {
        display: none;
    }
}
/* End Services */
/* Start Protfolio */
.portfolio--section {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section--background);
}
.portfolio--section .portfolio--section__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
    margin-top: 8rem;
    margin-bottom: 8rem;
}
.portfolio--section .protfolio--section__grid--item {
    display: flex;
    flex-direction: column;
   
    background: white;
}
.portfolio--section .protfolio--section__grid--item img {
    
    min-height: 17rem; 
    max-width: 100%;
}
.portfolio--section .grid--item__info {
    padding: 2rem;
}
.portfolio--section .protfolio--section__grid--item h3 {
    margin: 0;
    font-size: 2.2rem;
}
.portfolio--section .protfolio--section__grid--item p {
color: #333;
line-height: 1.6;
margin-bottom: 0;
}
.portfolio--section button {
    display: block;
    margin: auto;
    background-color: white;
    font-size: 1.2rem;
    padding: 1em 2em;
    border: none;
    font-weight: bold;
}
/* End Portfolio */
/* Start About */
.about--section {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}
.about--section__flex {
    margin-top: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 991px) {
    .about--section .about--section__flex {
        flex-direction: column;
        text-align: center;
    }
}
.about--section__flex .image img {
    max-width: 100%;
}
.about--section__flex .image {
    position: relative;
    width: 517px;
    height: 427px;
}
@media (max-width: 991px) {
    .about--section__flex .image {
        margin: 0 auto 60px;
         
    }
}
@media (max-width: 536px) {
    .about--section__flex .image {
        width: calc(100vw - 30px);    
        min-height: 36vmax;
    }
    .about--section__flex img {
        max-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }
}

.about--section__flex .image::before {
    content: '';
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: 100%;
    top: -40px;
    z-index: -1;
    left: -20px;
}
.about--section__flex .image::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 240px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    right: -194px;
    top: -36px;
    z-index: -1;
}
@media (max-width: 991px) {
    .about--section__flex .image::before {
        display: none;
    }
    .about--section__flex .image::after {
        display: none;
    }
}
.about--section__flex .text {
    flex-basis: calc(100% - 600px);
    font-size: 1.7rem;
}
.about--section__flex .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 5rem;
}
.about--section__flex .text p:last-of-type {
    line-height: 2;
    color: #333;
}
.about--section__flex .text hr {
    border-color: var(--main-color);
    width: 50%;
    display: inline-block;
}
/* End About */
/* Start Contact */
.contact--section {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section--background);
}
.contact--section .contact--section__content {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}
.contact--section__content .label {
    font-size: 4rem;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 1.5rem;
}
.contact--section__content .link {
    display: block;
    font-size: 4rem;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}
.contact--section__content .social {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 1.6rem;
}
.contact--section__content .social i {
    margin-left: 1rem;
    color: var(--secondary-color);

}
@media (max-width: 767px) {
    .contact--section__content .label, .contact--section__content .link {
        font-size: clamp(2rem, 2rem + 2vw,3rem);
    }
   
}
/* End Contact */
/* Start Footer */
.footer {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 3rem 1rem;
    text-align: center;
    font-size: 1.8rem;
}
.footer span {
    font-weight: bold;
    color: var(--main-color);
}
/* End Footer */